@{  
    Layout = null;
}
<h2>About</h2>

<p>This is a sample Single Page Application developed using below technologies </p>

<ul>
    <li> ASP.NET MVC 5</li>
    <li> Entity Framework</li>
    <li> SQL Server</li>
    <li> Angular 2</li>
    <li> TypeScript </li>
</ul>
